@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #afafaf;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.questions {
    padding: 30px 22px;
    background-color: #fff;
    width: 30vw;
    border-radius: 5px;
    margin-right: 20px;
}

.questions__info-title {
    margin-top: 25px ;
}

.stats {
    padding: 30px 22px;
    width: 15vw;
    background-color: #fff;
    border-radius: 5px;
}

.questions__choice li {
    list-style-type: none;
    margin-left: 10px;
    margin-top: 10px;
}

.next_btn {
    margin-top: 20px;
    padding: 10px 35px;
    border: 2px solid transparent;
    background-color: #000000;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.next_btn:hover {
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
}

.result__img img {
    height: 20vh;
    margin-right: 25px;
    border-radius: 5px;
}

.result__img {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
}

.progress__line {
    background-color: #2fc54d;
    left: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    text-align: center;
}

.progress__line-bg {
    background-color: #ccc;
    border-radius: 10px;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.stats__progress {
    text-align: center;
    color: #000;
    font-weight: 600;
}

.stats__timer {
    margin-top: 5vh;
    text-align: center;
}

@media (max-width: 1150px) {

    .container {
        display: block;
    }

    .questions {
        margin-right: 0;
        margin-bottom: 20px;
        width: 50vw;
    }

    .stats {
        width: 50vw;
    }

    .stats__timer {
        margin-top: 20px;
    }

}

@media (max-width: 750px) {

    .questions {
        width: 70vw;
    }

    .stats {
        width: 70vw;
    }

}

@media (max-width: 490px) {

    .result__img {
        display: block;
        text-align: center;
    }

    .result__img img {
        margin-right: 0;
    }

}
